/* Responsive */
@media only screen and (max-width: 1040px){
    section h3{
        font-size: 1.8em;
        margin-bottom: 1em;
        height: 20px;
    }

    section ol li img{
        margin-top: 3em;
        max-width: 170px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;    
    }
}

@media only screen and (max-width: 1035px){
    section h3{
        font-size: 1.8em;
        height: 50px;
    }

}

@media only screen and (max-width: 995px){
    main p {
        font-size: 30px;
    }

    section h3{
        font-size: 1.5em;
        margin-bottom: 1em;
        height: 50px;
    }

    section ol li img{
        margin-top: 3em;
        max-width: 150px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        background-color: #181c14;
    }
}


@media only screen and (max-width: 950px) {
    ul li a{
        font-size: 0.9em;
    }

    ul{
        gap: 50px;
    }

    nav .logo a img{
        width: 70px;
    }

    nav .logo a h2{
        font-size: 25px;
    }

    nav button{
        padding: 2px 2px;
        width: 75px;
        height: 30px;
        border-radius: 15px;
        font-size: 12px;
    }

    main p {
        font-size: 25px;
        top: 6em;
    }

    main button{
        padding: 2px 2px;
        width: 140px;
        height: 45px;
        font-size: 0.9em;
        bottom: 15em;
    }

    section {
        width: 100%;
        height: 90vh;
      }

      main .linearGradient {
        height: 80px;
      }
}

@media only screen and (max-width: 875px) {
    main button {
        padding: 2px 2px;
        width: 130px;
        height: 35px;
        font-size: 0.9em;
        bottom: 12em;
    }

    section ol li img{
        margin-top: 2.5em;
        max-width: 150px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        background-color: #181c14;
    }

    main .linearGradient {
        height: 50px;
      }
}

@media only screen and (max-width: 835px){
    section ol li img{
        margin-top: 2.5em;
        max-width: 120px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        background-color: #181c14;
    }

    section ol li {
        margin: 7px;
    }

    footer ul li {
        width: 20px;
        margin-bottom: 30px;
      }
    
        
      footer ul li i{
        font-size: 20px;
      }

      footer p small{
        font-size: 12px;
      }

      main button {
        padding: 2px 2px;
        width: 130px;
        height: 35px;
        font-size: 0.9em;
        bottom: 10em;
    }
      
}

@media only screen and (max-width: 800px) {
    main button {
        padding: 2px 2px;
        width: 120px;
        height: 33px;
        font-size: 0.9em;
        bottom: 9em;
    }

    main p {
        font-size: 20px;
        top: 8em;
    }

    section ol li img{
        margin-top: 2.2em;
        max-width: 130px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        background-color: #181c14;
    }

    section ol li {
        margin: 5px;
    }

    section {
        display: flex;
        width: 100%;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}

@media only screen and (max-width: 730px){
    section ol li img{
        margin-top: 1em;
        max-width: 110px;
        height: auto;
        margin: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        background-color: #181c14;
    }

    section ol li {
        margin: 3px;
    }
}

@media only screen and (max-width: 695px){
    nav ul {
        display: none;
    }

    
    
}

